[aria-expanded="false"]+.dropdown__menu {
  display: none;
}

.dropdown,
.search {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  min-width: 15rem;
  border: 1px solid #ddd;
  margin-top: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

.dropdown__menu--divider {
  border-top: 1px solid #ddd;
  margin: .4rem 0;
}

.dropdown__menu a {
  display: block;
  padding: .3rem .8rem;
  color: #333;
  text-decoration: none;
}

.dropdown__menu a:hover {
  background-color: #f5f5f5;
}


/*a partir de aqui*/
body{
  width: 1440px;
  height: 1891px;
}
main{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #4a4a4a;
  color: #ddd;
display:-webkit-flex;
}
.search__btn {
  background-color: #ffe55d;


}
ul{
  display:-webkit-flex;
  list-style: none;
}
.navbar li a{
  color: white;
  padding: 17px;
}
.intro{
  background-color: #efefef;
}
.intro__heading{
  width: 372px;
  height: 73px;
  font-size: 62px;
  font-weight: 300;
  font-style: normal;
  color: #4a4a4a;
  margin-left: 95px;
  font-family: HelveticaNeue;
}
.intro__pgh{
  width: 833px;
  height: 95px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 95px;
}
.intro__btn {
  width: 193px;
  height: 57px;
  border-radius: 8px;
  background-color: #7ed321;
  margin-left: 97px;
}
.training {
  display: -webkit-flex;
}
.sections{
  margin-left: 97px;

}
.spot__container{
  display: -webkit-flex;
  background-color: #e8f6fc;
  display: -webkit-flex;
  text-align: center;
  width: 1440px;
  height: 557px;
}
.spot__video{
  padding: 15px;
  margin-top: 98px;
  margin-left: 300px;
  margin-bottom: 98px;

}
.col__spot{
  margin: 100px;
  text-align: left;
  margin-top: 106;
}
.spot__btn{
  width: 115px;
  height: 40px;
  border-radius: 8px;
  background-color: #4a90e2;

  color: white;


}
.service {
  text-align: center;

}
.service_pgh{
  width: 1040px;
  height: 95px;
  margin-left: 95px;
  text-align: center;
}
.service__btn{
  width: 477px;
  height: 288px;
  border-radius: 8px;
  color: whithe;
  background-color: #4a90e2;
}
.site-links {
  padding: 38px;

}
.col__foot{
  text-align: right;
  margin-right: 20px;
}
